{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Scoreboard</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Quiz Title</th>
                <th scope="col">Score</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ score.user.username }}</td>
                    <td>{{ score.quiz.title }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.date|date:"Y-m-d H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}